<div id="ToastArea" aria-live="polite" aria-atomic="true">
    <!-- Position it -->
    <div style="position:relative;width:300px" id="toastSuccess" data-delay="4000" data-animation="true" class="toast" role="alert">
        <div id="ToastMain" class="toast-header toast-error">
            <strong id="ToastThongBao" class="mr-auto text-white">Thông báo!</strong>
            @*<small class="text-muted">just now</small>*@
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div id="ToastBody" class="toast-body">
            Thao tác
        </div>
    </div>
</div>